# .gitignore

# Virtual environment
vlab/

# Compiled Python files
*.pyc
__pycache__/

# Local settings file
*.env

account/migrations/*
!account/migrations/__init__.py
commecial/migrations/*
!commecial/migrations/__init__.py
report/migrations/*
!report/migrations/__init__.py

media/