{% extends "main.html" %}

{% block title %}
   Usine
{% endblock %}
{% load static %} 
{% block activeSettings %} {% include 'active_bar.html' %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-left mb-3">
  <a href="{% url 'usines' %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" class="text-decoration-none text-white d-flex align-items-center" style="color: rgba(222, 226, 230, 0.8); letter-spacing: 1.2px;">
    <i class="fas fa-caret-left me-2 retourC"></i>
    <p class="lead m-0 p-0 retourC">retour</p>
</a>
</div>
<h4 class="mb-4 retourC">{% if usine %}Modification du {{ usine.designation }}{% else %}Création d'une usine{% endif %}</h4>
<form method="POST">
    {% csrf_token %}
    <div class="card card-body custom-card">
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="form-outline">
            <label class="form-label labelCustom" for="designation">Désignation</label>
              {{ form.designation }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-outline">
            <label class="form-label labelCustom" for="designation">Address mail</label>
              {{ form.address }}
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="horaires">Horaires</label>
          <div id="horaire" class="form-control select" style="background-color: #e0e5f5; border-color: transparent;">
            <input id="horaire_input" type="text" data-bs-toggle="dropdown" style="background-color: #e0e5f5; border-color: transparent;" />
            <div class="dropdown-menu"></div>
            <select name="horaires" multiple hidden id="hidden_horaires_select">
              {% for horaire in form.fields.horaires.queryset %}
                <option value="{{ horaire.id }}" {% if horaire.id in selectedHoraire %} selected {% endif %}>{{ horaire }}</option>
              {% endfor %}                      
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-end mt-4">
    <input type='submit' class="btn btn-success customSaveButton" name='save' value="Sauvgardez"/>
  </div>
</form>

{% endblock %}
